{% extends "core/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<form method="get">
    <input
        type="text"
        name="q"
        value="{{ query|default:'' }}"
        placeholder="Search posts..."
    >
    <select name="sort">
        <option value="newest" {% if sort == "newest"%}selected{% endif %}>
            Newest</option>
        <option value="oldest" {% if sort == "oldest"%}selected{% endif %}>
            Oldest</option>
        <option value="title" {% if sort == "title"%}selected{% endif %}>
            Title</option>
    </select>

    <button type="submit">َApply</button>
</form>

<h2>Posts list</h2>

{% for post in page_obj %}

<h3>
    <a href="{% url 'post_detail' post.slug %}?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.number }}">{{ post.title }}</a>
</h3>

<h5>{{ post.content }}</h5>

<hr>
{% endfor %}

<div>
    {% if page_obj.has_previous %}
<a href="?{{ previous_query }}">Previous</a>
{% endif %}

<span>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</span>

{% if page_obj.has_next %}
<a href="?{{ next_query }}">Next</a>
{% endif %}

</div>

{% endblock %}