{% extends "core/base.html" %}

{% block title%}
{{ post.title }}
{% endblock %}

{% block content %}

<p>{{ post.content }}</p>

<div>
    <p>{{ post.author.username }}</p>
</div>

<div>
    {% if user == post.author %}

    <a href="{% url 'post_edit' post.slug %}">Edit post</a>

    {% endif %}
</div>

<div>
    {% if user == post.author %}

    <a href="{% url 'post_delete' post.slug %}">Delete post</a>

    {% endif %}
</div>

<div>
    {% if page %}
    <a href="{% url 'home' %}?{% if query %}q={{ query }}&{% endif %}page={{ page }}">back</a>
    {% else %}
    <a href="{% url 'home' %}">back</a>
    {% endif %}
</div>


{% endblock %}